<div class="row">
  <div class="col-md-4">
    <p>Eduard Verameyenka</p>
    <p>str. Konarskiego 4A 215</p>
    <p> 01-355 Warszawa</p>
    <br>
    <p> tel. +48796368905</p>
    <p> email: s12679@pjwstk.edu.pl</p>
  </div>
</div>