<% provide(:title, "Help") %>
<p>We don't currently have any known issues to report. <%= link_to "Contact us", {:controller => :static_pages, :action => :contact } %> if you're experiencing an issue.</p>
